/* C:\laragon\www\sgcpro\src\public\script\react_modelo_v1\frontend\src\components\Modal\swingModal\style.css */
.modal-overlay-swing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 254, 254, 0.536);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-custom-swing {
    background-color: var(--bs-body-bg);
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transform-origin: top center;
    animation: swing 1s ease-in-out;
}

@keyframes swing {
    0% {
        transform: rotateZ(0deg) scale(0.1);
        opacity: 0;
    }
    20% {
        transform: rotateZ(15deg) scale(0.5);
        opacity: 0.3;
    }
    40% {
        transform: rotateZ(-10deg) scale(0.8);
        opacity: 0.6;
    }
    60% {
        transform: rotateZ(5deg) scale(0.9);
        opacity: 0.8;
    }
    80% {
        transform: rotateZ(-3deg) scale(1);
        opacity: 0.9;
    }
    100% {
        transform: rotateZ(0deg) scale(1);
        opacity: 1;
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--bs-border-color);
}

.modal-body {
    padding: 1rem;
}

.modal-footer {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    border-top: 1px solid var(--bs-border-color);
}