/* C:\laragon\www\sgcpro\src\public\script\react_modelo_v1\frontend\src\components\Modal\basicModal\style.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 254, 254, 0.536);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-custom {
    background-color: var(--bs-body-bg);
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--bs-border-color);
}

.modal-body {
    padding: 1rem;
}

.modal-footer {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    border-top: 1px solid var(--bs-border-color);
}