/* Garantir que a página não tenha rolagem lateral */
html, body {
    overflow-x: hidden; /* Remove a rolagem horizontal */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Faz o fundo ocupar toda a tela */
.home-background {
    background: url('../../assets/images/circuitosProderj.jpeg') no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    z-index: -1;
}

/* Manter os outros estilos como estão */
.container {
    position: relative;
    z-index: 1;
    width: 90%;
    max-width: 1200px; 
    margin: 0 auto;
    border-radius: 10px;
}
